numpy
streamlit
pandas
streamlit_option_menu
Pillow
pickle
joblib
plotly
yfinance
sklearn
matplotlib
transformers
scipy
ydata_profiling
streamlit_pandas_profiling
bs4
requests
seaborn
lazypredict
catboost
